html, body {
  padding: 0;
  margin: 0
}

.back {
  position: fixed;
  width: 100%;
  height: 100%;
}

.back000 {
  background: linear-gradient(#EFEFCF, #D5D8B9 65%);
  z-index: -100;
}

.back001 { z-index: -99; }
.back001 img { height: 100%; }

.back002 { z-index: -98; }
.back002 img { height: 100%; }

.back003 { z-index: -97; }
.back003 img { height: 100%; }

.content {
  width: 500%;
}

.block {
  position: absolute;
  top: 25%;
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.6);

  /*font-size: 120pt;*/

  text-align: center;
  vertical-align: middle;


}

.block_inner {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: left;
  padding: 20px;
  display: table;
  table-layout: fixed;
}

.block_inner:first-child {
  font-family: 'Merriweather', serif;
  font-size: 3em;
}

.block_inner:nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}

.block_inner div {
  display: table-cell;
  vertical-align: middle;
}

.block .link_down {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.clearfix {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
}

.block01 {
  left: 25%;
}

.block02 {
  left: 125%;
}

.block03 {
  left: 225%;
}

.block04 {
  left: 325%;
}

.block05 {
  left: 425%;
}
